* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #B6B6B6;
    font-size: 16px;
    font-weight: 500;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-columns: auto;
    grid-template-areas: "header header header header header"
                         "main main main main main";
}

header {
    grid-area: header;
    display: grid;
    grid-template-areas: "logo . search . menu";
    background: var(--main-bg-color);
    min-height: 64px;
    border-bottom: 1px solid #252525;
    width: 100%;
    align-items: center;
    padding: 0 20px;
}
 
.logo {
    grid-area: logo;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.9px;
    color: #fff;
    margin-right: auto;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

.search {
    grid-area: search;
}

.searchfield {
    width: 100%;
    border: none;
    min-height: 40px;
    background: #333333;
    border-radius: 5px;
    padding: 0 15px;
    color: #696969;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.38px;
}

.menu {
    grid-area: menu;
    
    margin-left: auto;
}

.login_button {
    color: #CCCCCC;
    padding: 10px;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    background: #333333;
    border-radius: 5px;
    margin-right: 5px;
    transition: all 0.3s ease-out;
    letter-spacing: -.38px;
}

.login_button:hover {
    background: #242424;
    color: #fff;
}

.signup_button {
    color: #fff;
    padding: 10px;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    background: #6807f9;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    letter-spacing: -.38px;
}

.signup_button:hover {
    background: #5306c7;
}

main {
    grid-area: main;
    width: 90%;
    margin: 50px auto;
}

.heading {
    font-size: 76px;
    color:#fff;
    font-weight: 700;
    letter-spacing: -4px;
}

.subtext {
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -.04em;
    color:#787878;
    font-weight: 500;
    max-width: 500px;
    margin-top: 10px;
}

.contrast {
    color: #0091FF;
}

@media (max-width: 736px) {
    .search {
      display: none;
    }

    main {
        margin-top: 10px;
    }

    .heading {
        font-size: 50px;
        letter-spacing: -3px;
    }

    .subtext {
        font-size: 20px;
    }
}
  