* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #B6B6B6;
    font-size: 16px;
    font-weight: 500;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-columns: auto;
    grid-template-areas: "header header header header header"
                         "submenu submenu submenu submenu submenu"
                         "main main main main main";
}

header {
    grid-area: header;
    display: grid;
    grid-template-areas: "logo . mainmenu . menu";
    background: var(--main-bg-color);
    min-height: 64px;
    border-bottom: 1px solid #252525;
    width: 100%;
    align-items: center;
    padding: 0 20px;
}
 
.logo {
    grid-area: logo;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.9px;
    color: #fff;
    margin-right: auto;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

.mainmenu {
    grid-area: mainmenu;
    min-width: 300px;
    text-align: center;
    font-size: 18px;
}

.mainmenu ul {
    list-style: none;
}

.mainmenu ul li {
    display: inline;
}

.mainmenu ul li:not(:last-child) {
    margin-right: 30px;
}

.mainmenu a {
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    opacity: 0.5;
}

.mainmenu a:hover {
    opacity: 1;
}

.submenu {
    min-height: 42px;
    grid-area: submenu;
    text-align: center;
    font-size: 18px;
    padding: 10px 20px;
    border-bottom: 1px solid #252525;
    display: inline-block;
    background: #141414;
    box-sizing: content-box;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.submenu::-webkit-scrollbar {
    display: none; }

.submenu ul {
    list-style: none;
}

.submenu ul li {
    display: inline;
}

.submenu ul li:not(:last-child) {
    margin-right: 30px;
}

.submenu a {
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    opacity: 0.5;
}

.submenu a:hover {
    opacity: 1;
}

.menu {
    grid-area: menu;
    margin-left: auto;
}

.login_button {
    color: #CCCCCC;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    background: #333333;
    border-radius: 5px;
    margin-right: 5px;
    transition: all 0.2s ease-in-out;
    letter-spacing: -.38px;
}

.login_button:hover {
    background: #242424;
    color: #fff;
    box-shadow: 1px 1px #333333, 2px 2px #333333, 3px 3px #333333;
    transform: translateX(-3px);
}

.signup_button {
    color: #fff;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    background: #6807f9;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    letter-spacing: -.38px;
}

.signup_button:hover {
    background: #5306c7;
    box-shadow: 1px 1px #6807f9, 2px 2px #6807f9, 3px 3px #6807f9;
    transform: translateX(-3px);
}

main {
    grid-area: main;
    width: 90%;
    margin: 50px auto;
}

.heading {
    font-size: 76px;
    color:#fff;
    font-weight: 700;
    letter-spacing: -4px;
}

.subtext {
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -.04em;
    color:#787878;
    font-weight: 500;
    max-width: 500px;
    margin-top: 10px;
}

.burger {
    fill: #fff;
}

.contrast {
    color: #0091FF;
}

@media (max-width: 736px) {

    .container {
        grid-template-areas: "header header header header header"
        "submenu submenu submenu submenu submenu"
        "main main main main main";
    }

    .mainmenu {
      display: none;
    }

    main {
        margin-top: 10px;
    }

    .heading {
        font-size: 50px;
        letter-spacing: -3px;
    }

    .subtext {
        font-size: 20px;
    }


}

@media (min-width: 737px) {
    .container {
        grid-template-areas: "header header header header header"
       
        "main main main main main";
    }

    .submenu {
        display: none;
    }

}




